In [6]:
import pandas as pd
import os

In [7]:
energy_data = "owid-energy-data.csv"

In [8]:
energy_data_df = pd.read_csv(energy_data)
energy_data_df.head(10)

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AFG,Afghanistan,1905,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AFG,Afghanistan,1906,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,AFG,Afghanistan,1907,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,AFG,Afghanistan,1908,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AFG,Afghanistan,1909,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
energy_data_df.isnull()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,False,False,False,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,True,False,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17465,False,False,False,False,False,True,True,True,True,False,...,False,True,False,False,True,True,True,True,False,True
17466,False,False,False,False,False,True,True,True,True,False,...,False,True,False,False,True,True,True,True,False,True
17467,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True
17468,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True
17469,False,False,False,False,False,True,True,True,True,True,...,False,True,True,False,True,True,True,True,False,True

In [10]:
energy_data_clean = energy_data_df.fillna(0)

In [11]:
energy_data_clean.head()

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,AFG,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AFG,Afghanistan,1901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AFG,Afghanistan,1902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AFG,Afghanistan,1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AFG,Afghanistan,1904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
energy_data_clean.to_csv('Updated_Energy_Consumption.csv')

In [14]:
biofuel_consumption = energy_data_df[["country", "year","biofuel_consumption", "gdp"]]
biofuel_consumption.head()

       country  year  biofuel_consumption  gdp
0  Afghanistan  1900                  NaN  NaN
1  Afghanistan  1901                  NaN  NaN
2  Afghanistan  1902                  NaN  NaN
3  Afghanistan  1903                  NaN  NaN
4  Afghanistan  1904                  NaN  NaN

In [15]:
biofuel_consump_avg = biofuel_consumption.groupby(['country']).mean()
biofuel_consump_avg.head(10)

                       year  biofuel_consumption           gdp
country
Afghanistan          1959.5                  NaN  3.119197e+10
Africa               1959.5             0.067509           NaN
Albania              1959.5                  NaN  1.153771e+10
Algeria              1959.5             0.000000  2.679717e+11
American Samoa       1999.5                  NaN           NaN
Angola               1959.5             0.000000  4.385790e+10
Antigua and Barbuda  1999.5                  NaN           NaN
Argentina            1960.0             2.519909  2.714768e+11
Armenia              2005.5                  NaN  1.645584e+10
Aruba                2002.5                  NaN           NaN

In [16]:
biofuel_consumption.to_csv('Biofuel_Consumption_by_Country.csv', index=False, encoding='utf-8')

In [17]:
biofuel_consump_avg.to_csv('Average_Biofuel_Consumption_by_Country', index=False, encoding='utf-8')

In [18]:
energy_consump_country = energy_data_df[["country", "year","coal_consumption", "coal_cons_per_capita","energy_per_gdp", "gdp", "energy_per_capita", "gas_consumption", "gas_elec_per_capita", "gas_energy_per_capita", "oil_consumption", "oil_elec_per_capita", "oil_energy_per_capita"]]
energy_consump_country

,country,year,coal_consumption,coal_cons_per_capita,energy_per_gdp,gdp,energy_per_capita,gas_consumption,gas_elec_per_capita,gas_energy_per_capita,oil_consumption,oil_elec_per_capita,oil_energy_per_capita
0,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17465,Zimbabwe,2015,NaN,NaN,2.223,2.503057e+10,4027.628,NaN,0.0,NaN,NaN,0.0,NaN
17466,Zimbabwe,2016,NaN,NaN,1.889,2.515176e+10,3385.574,NaN,0.0,NaN,NaN,0.0,NaN
17467,Zimbabwe,2017,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
17468,Zimbabwe,2018,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
17469,Zimbabwe,2019,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN

In [47]:
energy_consump_country.to_csv('Energy_Consumption_by_Country', index=False, encoding='utf-8')

In [20]:
energy_data_updated = "Updated_Energy_Consumption.csv"
energy_data_df = pd.read_csv(energy_data_updated)
energy_data_df.head(10)

,Unnamed: 0,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,0,AFG,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,AFG,Afghanistan,1901,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,AFG,Afghanistan,1902,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,AFG,Afghanistan,1903,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,AFG,Afghanistan,1904,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,AFG,Afghanistan,1905,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,AFG,Afghanistan,1906,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,7,AFG,Afghanistan,1907,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8,AFG,Afghanistan,1908,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,AFG,Afghanistan,1909,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
coal_change_over_time = energy_data_df.groupby(["year"])["coal_consumption"].mean()
coal_change_per_capita = energy_data_df.groupby(["year"])["coal_cons_per_capita"].mean()
coal_change_over_time.head(10)

year
1900    0.0
1901    0.0
1902    0.0
1903    0.0
1904    0.0
1905    0.0
1906    0.0
1907    0.0
1908    0.0
1909    0.0
Name: coal_consumption, dtype: float64

In [27]:
gas_change_over_time = energy_data_df.groupby(["year"])["gas_consumption"].mean()
gas_change_elec_per_capita = energy_data_df.groupby(["year"])["gas_elec_per_capita"].mean()
gas_change_energy_per_capita = energy_data_df.groupby(["year"])["gas_energy_per_capita"].mean()
gas_change_over_time.head(10)

year
1900    0.0
1901    0.0
1902    0.0
1903    0.0
1904    0.0
1905    0.0
1906    0.0
1907    0.0
1908    0.0
1909    0.0
Name: gas_consumption, dtype: float64

In [28]:
oil_change_over_time = energy_data_df.groupby(["year"])["oil_production"].mean()
oil_change_elec_per_capita = energy_data_df.groupby(["year"])["oil_elec_per_capita"].mean()
oil_change_energy_per_capita = energy_data_df.groupby(["year"])["oil_energy_per_capita"].mean()
oil_change_over_time.head(10)

year
1900    3.644298
1901    4.046628
1902    4.621457
1903    5.054468
1904    5.766660
1905    6.015202
1906    5.897543
1907    7.481670
1908    8.166989
1909    8.535309
Name: oil_production, dtype: float64

In [29]:
energy_per_capita = energy_data_df.groupby(["year"])["energy_per_capita"].mean()
energy_per_capita.tail(10)

year
2012    30579.411747
2013    29801.182328
2014    29554.274647
2015    29966.209697
2016    30423.850398
2017    15992.103065
2018    16080.333252
2019    15911.162935
2020        0.000000
2021        0.000000
Name: energy_per_capita, dtype: float64

In [30]:
energy_consump_change_by_year = pd.DataFrame({
    "Energy per Capita": energy_per_capita,
    "Coal Consumption": coal_change_over_time,
    "Coal Consumption Per Capita": coal_change_per_capita,
    "Gas Consumption": gas_change_over_time,
    "Gas Consumption Electricity Per Capita": gas_change_elec_per_capita,
    "Gas Consumption Energy Per Capita": gas_change_energy_per_capita,
    "Oil Consumption": oil_change_over_time,
    "Oil Consumption ELectricity Per Capita": oil_change_elec_per_capita,
    "Oil Consumption Energy Per Capita": oil_change_energy_per_capita,
})

energy_consump_change_by_year.head(10)

,Energy per Capita,Coal Consumption,Coal Consumption Per Capita,Gas Consumption,Gas Consumption Electricity Per Capita,Gas Consumption Energy Per Capita,Oil Consumption,Oil Consumption ELectricity Per Capita,Oil Consumption Energy Per Capita
year,,,,,,,,,
1900,0.0,0.0,0.0,0.0,0.0,0.0,3.644298,0.0,0.0
1901,0.0,0.0,0.0,0.0,0.0,0.0,4.046628,0.0,0.0
1902,0.0,0.0,0.0,0.0,0.0,0.0,4.621457,0.0,0.0
1903,0.0,0.0,0.0,0.0,0.0,0.0,5.054468,0.0,0.0
1904,0.0,0.0,0.0,0.0,0.0,0.0,5.766660,0.0,0.0
1905,0.0,0.0,0.0,0.0,0.0,0.0,6.015202,0.0,0.0
1906,0.0,0.0,0.0,0.0,0.0,0.0,5.897543,0.0,0.0
1907,0.0,0.0,0.0,0.0,0.0,0.0,7.481670,0.0,0.0
1908,0.0,0.0,0.0,0.0,0.0,0.0,8.166989,0.0,0.0
1909,0.0,0.0,0.0,0.0,0.0,0.0,8.535309,0.0,0.0

In [46]:
energy_consump_change_by_year.to_csv('Energy_Consumption_Per_Year', index=False)

In [36]:
nuclear_consumption = energy_data_df.groupby(["country"])["nuclear_consumption"].mean()
nuclear_elec_per_capita = energy_data_df.groupby(["country"])["nuclear_elec_per_capita"].mean()
nuclear_energy_per_capita = energy_data_df.groupby(["country"])["nuclear_energy_per_capita"].mean()
nuclear_consumption.head(10)

country
Afghanistan            0.000000
Africa                 9.104575
Albania                0.000000
Algeria                0.000000
American Samoa         0.000000
Angola                 0.000000
Antigua and Barbuda    0.000000
Argentina              6.075810
Armenia                0.000000
Aruba                  0.000000
Name: nuclear_consumption, dtype: float64

In [37]:
hydro_consumption = energy_data_df.groupby(["country"])["hydro_consumption"].mean()
hydro_elec_per_capita = energy_data_df.groupby(["country"])["hydro_elec_per_capita"].mean()
hydro_energy_per_capita = energy_data_df.groupby(["country"])["hydro_energy_per_capita"].mean()
hydro_consumption.head(10)

country
Afghanistan             0.000000
Africa                 81.420767
Albania                 0.000000
Algeria                 0.363417
American Samoa          0.000000
Angola                  0.000000
Antigua and Barbuda     0.000000
Argentina              28.159331
Armenia                 0.000000
Aruba                   0.000000
Name: hydro_consumption, dtype: float64

In [38]:
solar_consumption = energy_data_df.groupby(["country"])["solar_consumption"].mean()
solar_elec_per_capita = energy_data_df.groupby(["country"])["solar_elec_per_capita"].mean()
solar_energy_per_capita = energy_data_df.groupby(["country"])["solar_energy_per_capita"].mean()
solar_consumption.head(10)

country
Afghanistan            0.000000
Africa                 1.020267
Albania                0.000000
Algeria                0.045092
American Samoa         0.000000
Angola                 0.000000
Antigua and Barbuda    0.000000
Argentina              0.020397
Armenia                0.000000
Aruba                  0.000000
Name: solar_consumption, dtype: float64

In [39]:
wind_consumption = energy_data_df.groupby(["country"])["wind_consumption"].mean()
wind_elec_per_capita = energy_data_df.groupby(["country"])["wind_elec_per_capita"].mean()
wind_energy_per_capita = energy_data_df.groupby(["country"])["wind_energy_per_capita"].mean()
wind_consumption.head(10)

country
Afghanistan            0.000000
Africa                 1.871783
Albania                0.000000
Algeria                0.001642
American Samoa         0.000000
Angola                 0.000000
Antigua and Barbuda    0.000000
Argentina              0.214562
Armenia                0.000000
Aruba                  0.000000
Name: wind_consumption, dtype: float64

In [42]:
low_carbon_consumption = energy_data_df.groupby(["country"])["low_carbon_consumption"].mean()
low_carbon_per_capita = energy_data_df.groupby(["country"])["low_carbon_energy_per_capita"].mean()
low_carbon_consumption.head(10)

country
Afghanistan             0.000000
Africa                 95.756225
Albania                 0.000000
Algeria                 0.410142
American Samoa          0.000000
Angola                  0.000000
Antigua and Barbuda     0.000000
Argentina              36.453388
Armenia                 0.000000
Aruba                   0.000000
Name: low_carbon_consumption, dtype: float64

In [34]:
renew_elec_consump_per_country = energy_data_df.groupby(["country"])["renewables_consumption"].mean()
renew_elec_consump_per_country_capita = energy_data_df.groupby(["country"])["renewables_energy_per_capita"].mean()
renew_elec_consump_per_country.head(10)
renew_elec_consump_per_country_capita.head(10)

country
Afghanistan              0.000000
Africa                 116.316525
Albania                  0.000000
Algeria                 18.743192
American Samoa           0.000000
Angola                   0.000000
Antigua and Barbuda      0.000000
Argentina              823.537702
Armenia                  0.000000
Aruba                    0.000000
Name: renewables_energy_per_capita, dtype: float64

In [40]:
other_renewable_consump_per_country = energy_data_df.groupby(["country"])["renewables_consumption"].mean()
other_renewable_consump_per_country_capita = energy_data_df.groupby(["country"])["renewables_energy_per_capita"].mean()
other_renewable_consump_per_country.head(10)
other_renewable_consump_per_country_capita.head(10)

country
Afghanistan              0.000000
Africa                 116.316525
Albania                  0.000000
Algeria                 18.743192
American Samoa           0.000000
Angola                   0.000000
Antigua and Barbuda      0.000000
Argentina              823.537702
Armenia                  0.000000
Aruba                    0.000000
Name: renewables_energy_per_capita, dtype: float64

In [41]:
gdp_avg = energy_data_df.groupby(['country'])['gdp'].mean()
gdp_avg.head(10)

country
Afghanistan            1.741552e+10
Africa                 0.000000e+00
Albania                6.826480e+09
Algeria                1.049556e+11
American Samoa         0.000000e+00
Angola                 1.535027e+10
Antigua and Barbuda    0.000000e+00
Argentina              2.625023e+11
Armenia                1.469272e+10
Aruba                  0.000000e+00
Name: gdp, dtype: float64

In [43]:
green_energy_per_country = pd.DataFrame({
    "Solar Energy Consumption": solar_consumption,
    "Solar Energy Electricity per Capita": solar_elec_per_capita,
    "Solar Energy per Capita": solar_energy_per_capita,
    "Wind Energy Consumption": wind_consumption,
    "Wind Energy Electricity per Capita": wind_elec_per_capita,
    "Wind Energy per Capita": wind_energy_per_capita,
    "Hydro Energy Consumption": hydro_consumption,
    "Hydro Energy Electricity per Capita": hydro_elec_per_capita,
    "Hydro Energy per Capita": hydro_energy_per_capita,
    "Nuclear Energy Consumption": nuclear_consumption,
    "Nuclear Energy Electricity per Capita": nuclear_elec_per_capita,
    "Nuclear Energy per Capita": nuclear_energy_per_capita,
    "Low Carbon Energy Consumption": low_carbon_consumption,
    "Low Carbon Energy per Capita": low_carbon_per_capita,
    "Renewable Energy Consumption": renew_elec_consump_per_country,
    "Renewable Energy per Capita": renew_elec_consump_per_country_capita,
    "Other Renewable Energy Consumption": other_renewable_consump_per_country,
    "Other Renewable Energy per Capita": other_renewable_consump_per_country_capita,
    "GDP": gdp_avg,
})

green_energy_per_country.head(10)

,Solar Energy Consumption,Solar Energy Electricity per Capita,Solar Energy per Capita,Wind Energy Consumption,Wind Energy Electricity per Capita,Wind Energy per Capita,Hydro Energy Consumption,Hydro Energy Electricity per Capita,Hydro Energy per Capita,Nuclear Energy Consumption,Nuclear Energy Electricity per Capita,Nuclear Energy per Capita,Low Carbon Energy Consumption,Low Carbon Energy per Capita,Renewable Energy Consumption,Renewable Energy per Capita,Other Renewable Energy Consumption,Other Renewable Energy per Capita,GDP
country,,,,,,,,,,,,,,,,,,,
Afghanistan,0.000000,0.065358,0.000000,0.000000,0.000083,0.000000,0.000000,4.095483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.741552e+10
Africa,1.020267,0.326167,0.815183,1.871783,0.623942,1.580192,81.420767,41.100992,111.498350,9.104575,3.979750,10.740600,95.756225,127.057133,86.651700,116.316525,86.651700,116.316525,0.000000e+00
Albania,0.000000,0.057850,0.000000,0.000000,0.000000,0.000000,0.000000,403.794158,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.826480e+09
Algeria,0.045092,0.383367,1.081808,0.001642,0.016058,0.039742,0.363417,6.539558,17.621675,0.000000,0.000000,0.000000,0.410142,18.743192,0.410142,18.743192,0.410142,18.743192,1.049556e+11
American Samoa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
Angola,0.000000,0.047342,0.000000,0.000000,0.000000,0.000000,0.000000,25.343217,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.535027e+10
Antigua and Barbuda,0.000000,12.414700,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
Argentina,0.020397,0.430273,0.458107,0.214562,3.885140,4.922140,28.159331,259.944182,770.744884,6.075810,62.481785,169.533595,36.453388,993.071339,30.377595,823.537702,30.377595,823.537702,2.625023e+11
Armenia,0.000000,0.447643,0.000000,0.000000,0.552214,0.000000,0.000000,483.031071,0.000000,0.000000,534.285679,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.469272e+10
Aruba,0.000000,18.675471,0.000000,0.000000,391.823765,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00

In [45]:
green_energy_per_country.to_csv('Green_Energy_Per_Country', index=False)