In [3]:
import pandas as pd
import os

In [4]:
energy_data_updated = "Updated_Energy_Consumption.csv"
energy_data_df = pd.read_csv(energy_data_updated)
energy_data_df.head(10)

,Unnamed: 0,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
0,0,AFG,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,AFG,Afghanistan,1901,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,AFG,Afghanistan,1902,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,AFG,Afghanistan,1903,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,AFG,Afghanistan,1904,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,AFG,Afghanistan,1905,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,AFG,Afghanistan,1906,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,7,AFG,Afghanistan,1907,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,8,AFG,Afghanistan,1908,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,9,AFG,Afghanistan,1909,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
year = energy_data_df['year']
country = energy_data_df['country']
population = energy_data_df['population']
gdp = energy_data_df['gdp']
gdp.head(10)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: gdp, dtype: float64

In [21]:
world_table = pd.DataFrame({
    "Country": country,
    "Year": year,
    "Population": population,
    "GDP": gdp,
})

world_table.head(10)

       Country  Year  Population  GDP
0  Afghanistan  1900   5021241.0  0.0
1  Afghanistan  1901   5053439.0  0.0
2  Afghanistan  1902   5085403.0  0.0
3  Afghanistan  1903   5118005.0  0.0
4  Afghanistan  1904   5150814.0  0.0
5  Afghanistan  1905   5183829.0  0.0
6  Afghanistan  1906   5217053.0  0.0
7  Afghanistan  1907   5249854.0  0.0
8  Afghanistan  1908   5283495.0  0.0
9  Afghanistan  1909   5317347.0  0.0

In [22]:
world_table.to_csv('World_Table', index=False)

In [27]:
biofuel_electricity = energy_data_df['biofuel_electricity']
coal_electricity = energy_data_df['coal_electricity']
gas_electricity = energy_data_df['gas_electricity']
hydro_electricity = energy_data_df['hydro_electricity']
nuclear_electricity = energy_data_df['nuclear_electricity']
oil_electricity = energy_data_df['oil_electricity']
solar_electricity = energy_data_df['solar_electricity']
wind_electricity = energy_data_df['wind_electricity']
wind_electricity.head(10)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: wind_electricity, dtype: float64

In [28]:
production_table = pd.DataFrame({
    "Country": country,
    "Year": year,
    "biofuel_electricity": biofuel_electricity,
    "gas_electricity": gas_electricity,
    "hydro_electricity": hydro_electricity,
    "nuclear_electricity": nuclear_electricity,
    "oil_electricity": oil_electricity,
    "solar_electricity": solar_electricity,
    "wind_electricity": wind_electricity,
})

In [29]:
production_table.head(10)

,Country,Year,biofuel_electricity,gas_electricity,hydro_electricity,nuclear_electricity,oil_electricity,solar_electricity,wind_electricity
0,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1901,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1902,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,1904,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Afghanistan,1905,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Afghanistan,1906,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Afghanistan,1907,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Afghanistan,1908,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Afghanistan,1909,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
production_table.to_csv('Production_Table', index=False)

In [33]:
biofuel_consumption = energy_data_df['biofuel_consumption']
coal_consumption = energy_data_df['coal_consumption']
gas_consumption = energy_data_df['gas_consumption']
hydro_consumption = energy_data_df['hydro_consumption']
nuclear_consumption = energy_data_df['nuclear_consumption']
oil_consumption = energy_data_df['oil_consumption']
solar_consumption = energy_data_df['solar_consumption']
wind_consumption = energy_data_df['wind_consumption']

In [36]:
consumption_table = pd.DataFrame({
    "Country": country,
    "Year": year,
    "biofuel_consumption": biofuel_consumption,
    "coal_consumption": coal_consumption,
    "gas_consumption": gas_consumption,
    "hydro_consumption": hydro_consumption,
    "nuclear_consumption": nuclear_consumption,
    "oil_consumption": oil_consumption,
    "solar_consumption": solar_consumption,
    "wind_consumption": wind_consumption,
})
consumption_table.head(10)

,Country,Year,biofuel_consumption,coal_consumption,gas_consumption,hydro_consumption,nuclear_consumption,oil_consumption,solar_consumption,wind_consumption
0,Afghanistan,1900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,1903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,1904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Afghanistan,1905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Afghanistan,1906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,Afghanistan,1907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Afghanistan,1908,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Afghanistan,1909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
consumption_table.to_csv('Consumption_Table', index=False)